.audioauto {
  display: none;
}
.audiosingle {
  display: block;
}
.grid-containeraudio {
  display: grid;
  border: black solid 2px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  padding: 50px;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 80%;
  margin: auto;
}
.audiocover {
  height: 300px;
  width: 300px;
}
img {
  display: block;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}
.gridaccordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active,
.gridaccordion:hover {
  background-color: #ccc;
}
.gridpanel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.gridaccordion:after {
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.grid-containercir {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.cirgrid-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.trianglegridfeat {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.trigrid-img {
  width: 300px;
  height: 300px;
  /* The points are: centered top, left bottom, right bottom */
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}
.trigrid-img2 {
  width: 300px;
  height: 600px;
  /* The points are: centered top, left bottom, right bottom */
  clip-path: polygon(100% 50%, 50% 100%, 0% 50%);
}
.webprojGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.webprojGriditem {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gridcontainermos {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.blogpostsgrid {
  display: grid;
  border: black solid 2px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  padding: 50px;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 80%;
  margin: auto;
}
.bloggridphoto {
  height: 300px;
  width: 100%;
}
.blogcomments {
  border: solid black;
}
* {
  box-sizing: border-box;
}
/* Slideshow container */
.slideshow-containerblog {
  max-width: 40%;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.blogpostul {
  list-style-type: none;
}
ul {
  list-style-type: none;
}
body {
  font-family: Verdana, sans-serif;
}
/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}
/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}
.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}
/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}
/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}
.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}
/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}
.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}
/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
}
* {
  box-sizing: border-box;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.calendareventimg {
  height: 400px;
  width: 100%;
}
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*accordian*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 50px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.contactproblemform {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
}
.formorderhor {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 50%;
  margin: auto;
}
.contactform {
  display: flex;
  flex-direction: column;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  padding: 50px;
}
/* Hide the images by default */
.mySlides {
  display: none;
  background-color: #F4EBDA;
  width: 50%;
  margin: auto;
  padding: 30px;
}
.mySlides h3 {
  padding: 0;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
h1 {
  display: none;
}
h2 {
  font-family: "Montserrat Subrayada", serif;
  color: #29BEBA;
  padding: 75px;
  font-size: 35px;
}
h3 {
  font-family: Montserrat, sans-serif;
  color: #F08584;
  font-size: 30px;
  padding-top: 100px;
}
h4 {
  font-family: Montserrat, sans-serif;
  color: #596A6A;
}
.blockquotefeat {
  width: 80%;
  display: block;
  z-index: 1;
  position: absolute;
  top: 150px;
  left: 150px;
}
.featureblockquote {
  font-size: 50px;
  color: #F08584;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  text-align: center;
}
.calltoactionfeat {
  background: url("../assets/IMG_1063.jpg");
  width: 100%;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
}
.calltoactionfeatodd {
  background-image: url("../assets/snow-landscape-mountains-nature-59106.jpg");
  width: 100%;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
}
.calltoactionfeatodd .pfeat {
  background-color: rgba(225, 225, 225, 0.7);
  opacity: 75%;
  border-radius: 5px;
}
.featuredisplay {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.paragraphfeat {
  background-color: #596A6A;
  width: 55%;
  border-radius: 5px;
  margin: auto;
  display: block;
}
.paragraphfeat .pfeat {
  color: #F4EBDA;
}
.pfeat {
  font-family: Montserrat, serif;
  font-size: 20px;
  width: 80%;
  margin: auto;
  padding: 75px 75px 75px 0;
  line-height: 200%;
}
.pimg {
  width: 500px;
  float: left;
  padding-top: 250px;
  padding-left: 100px;
  padding-right: 10px;
}
.tabitem {
  display: none;
}
.tabitem.active {
  display: block;
}
.mapModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.consultInfo {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.modal-content {
  background-color: #F4EBDA;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
  font-family: "Monserrat", sans-serif;
  border-radius: 5px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.grid-containermod {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modgrid-img {
  height: 300px;
  width: 100%;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modzoomimg {
  height: 600px;
  width: 100%;
}
.navstandard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
.secondarynav {
  background: url("../assets/art.png") no-repeat fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.secondarynavitem {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secNavBut {
  font-family: "Rock Salt", sans-serif;
  color: #ffffff;
  background-color: #29BEBA;
  border-radius: 7px;
  max-width: 300px;
  min-height: 200px;
}
.secNavBut:hover {
  background-color: #F08584;
}
.navstandardcont {
  flex-wrap: nowrap;
}
.navicon {
  border: solid 1px #29BEBA;
  height: 150px;
  width: 150px;
  border-radius: 5px;
}
.naviconlabel {
  color: #596A6A;
  font-weight: bolder;
  font-family: "Monserrat", sans-serif;
  width: 150px;
}
.navblog {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navpanel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.navaccordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active,
.navaccordion:hover {
  background-color: #ccc;
}
.navdropbutt {
  height: 35px;
  width: 35px;
}
#searchquery {
  width: 80%;
  /* Full-width */
  font-size: 16px;
  /* Increase font-size */
  padding: 12px 20px 12px 40px;
  /* Add some padding */
  border: 1px solid #ddd;
  /* Add a grey border */
  margin-bottom: 12px;
  /* Add some space below the input */
}
.searchbutt {
  height: 35px;
  width: 35px;
}
.grid-containerprod {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  grid-template-rows: auto auto auto;
}
.grid-itemprod {
  padding: 50px;
}
.prodimggrid {
  height: 200px;
  width: 200px;
}
.prodimgmod {
  height: 600px;
  width: 100%;
}
.shopimg {
  height: 200px;
  width: 200px;
}
.videogrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.videogridfeature {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}
.caroselvid {
  width: 80%;
  margin: auto;
}
p {
  color: #596A6A;
}
nav ul {
  list-style-type: none;
}
.currentPage {
  color: #29BEBA;
}
.serviceDescriptionDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header img {
  width: 100%;
  opacity: 50%;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease-in-out;
}
li a {
  margin: 25px;
  color: #596A6A;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  text-decoration: none;
}
li a img {
  width: 200px;
}
li a:hover {
  color: #F08584;
}
button {
  outline: none;
  border-radius: 5px;
  background-color: #29BEBA;
  color: #F5ECCF;
  font-family: Montserrat sans-serif;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  border: none;
  box-shadow: none;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label {
  margin: 20px;
  font-family: Montserrat, serif;
  font-weight: 600;
  color: #596A6A;
  font-size: 20px;
}
input {
  margin: 25px;
  border-width: 0.5px;
  border-style: solid;
  border-color: #596A6A #596A6A #F08584 #596A6A;
  border-radius: 10px;
  width: 100%;
  font-family: Montserrat, serif;
}
[type="checkbox"]:not(:checked) {
  margin: 25px;
  content: " ";
  border: 0.5px solid #596A6A;
  border-radius: 10px;
  height: 25px;
  width: 25px;
}
[type="checkbox"]:hover {
  border: 2px solid #F08584;
}
[type="checkbox"]:checked {
  outline: none;
  border-width: 3px;
  border-style: solid;
  border-color: #596A6A;
  font-size: 20px;
  background: #F08584;
  content: '\2713\0020';
  height: 25px;
  width: 25px;
}
input:hover {
  border-bottom: 2px solid #F08584;
  box-shadow: 5px #596A6A;
}
input:focus {
  outline: none;
  border-width: 3px;
  border-style: solid;
  border-color: #F08584;
  transition: ease-in-out, width 0.35s ease-in-out;
  color: #596A6A;
  font-size: 20px;
  font-family: Montserrat, serif;
}
textarea {
  margin: 25px;
  border-width: 0.5px;
  border-style: solid;
  border-color: #596A6A #596A6A #F08584 #596A6A;
  border-radius: 10px;
  width: 100%;
  min-height: 500px;
}
textarea:hover {
  border-bottom: 2px solid #F08584;
}
textarea:focus {
  outline: none;
  border-width: 3px;
  border-style: solid;
  border-color: #F08584;
  box-shadow: 3px #596A6A;
  transition: ease-in-out, width 0.35s ease-in-out;
  color: #596A6A;
  font-size: 20px;
  font-family: Montserrat, serif;
}
#foundernote {
  font-family: Montserrat, sans-serif;
  color: #F08584;
  font-size: 25px;
  line-height: 200%;
  width: 50%;
  margin: auto;
  padding-bottom: 50px;
}
#foundernote span {
  font-size: 40px;
  font-family: "Rock Salt", sans-serif;
}
.note {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #F08584;
  width: 40%;
  margin: auto;
  padding: 30px;
  text-align: center;
  line-height: 200%;
}
.Tansection {
  background-color: #F5ECCF;
}
.serviceslist {
  list-style-type: "\2014";
  column-count: 2;
  width: 80%;
  margin: auto;
  padding: 50px;
}
.servicelistitem {
  font-family: Montserrat, serif;
  line-height: 50px;
}
.notediv {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.headervid {
  width: 100%;
  height: 400px;
}
.servicesgridfeat {
  padding: 0 100px 100px 100px;
}
.servicesgridfeatodd {
  background-color: #596A6A;
  padding: 0 100px 100px 100px;
  color: #F5ECCF;
}
footer {
  color: #29BEBA;
  font-family: Montserrat, sans-serif;
  text-align: center;
  width: 100%;
}
footer p {
  color: #29BEBA;
}
footer span {
  font-family: "Rock Salt", sans-serif;
  color: #29BEBA;
}
footer .socialsgridfeat {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer i {
  color: #29BEBA;
  font-size: 35px;
  padding: 20px;
}
svg {
  width: 100%;
  height: auto;
}
svg .modbut:hover {
  background-color: #596A6A;
}
svg .modbut:active {
  background-color: #29BEBA;
}
span .solidarity {
  font-family: "Abril Fatface", serif;
}
.pricingTable {
  background: url("../assets/art.png") no-repeat fixed;
}
table {
  font-family: "Monserrat", sans-serif;
}
td {
  color: #F08584;
  font-size: 25px;
  padding: 20px;
}
#footer {
  max-height: 1000px;
}
.loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(245, 236, 207, 0.5);
  background-image: url("../assets/tabeigif4.gif");
  background-repeat: no-repeat;
  background-position: center;
}
/*.comingSoon{
  background: url("../assets/IMG_0633.jpg") no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: 1200px;
}*/
/*# sourceMappingURL=style.css.map */